<div class="card shadow-lg mt-3 h-100">
    <div class="card-header pb-0">
        <div class="d-flex align-items-center">
            <p class="mb-0">에어컨 온도 설정</p>
        </div>
        <div class="d-flex align-items-center">
            <p class="mb-0"><br>수동모드일때 사용자가 설정한 온도에 따라 자동으로 에어컨을 끄고 켭니다.</p>
        </div>
    </div>
    <div class="card-body p-3">
        <form method="post"
              th:action="@{'/device/settings/' + ${currentPlace.getPlaceId()} + '/' + ${deviceSetting.getDevice().getDeviceName()} + '/' + ${deviceSetting.getDeviceSensor().getSensorName()}}">
            <input type="hidden" th:value="${currentPlace.getPlaceName()}" name="placeName">
            <div class="row ">
                <div class="col mx-2">
                    <p>on</p>
                    <div>
                        <fieldset class="data-quantity" id="onValue">
                            <button type="button" title="Down" class="sub">Down</button>
                            <input name="onValue"
                                   th:value="${T(java.lang.Math).round(deviceSetting.getDeviceSensor().getOnValue())}"
                                   pattern="[0-9]+">
                            <button type="button" title="Up" class="add">Up</button>
                        </fieldset>
                    </div>
                </div>
                <div class="col mx-2">
                    <p>off</p>
                    <div class="row">
                        <fieldset class="data-quantity" id="offValue">
                            <button type="button" title="Down" class="sub">Down</button>
                            <input name="offValue"
                                   th:value="${T(java.lang.Math).round(deviceSetting.getDeviceSensor().getOffValue())}"
                                   pattern="[0-9]+">
                            <button type="button" title="Up" class="add">Up</button>
                        </fieldset>
                    </div>
                </div>
                <div class="col mx-1 mt-7">
                    <button type="submit" class="btn btn-block bg-gradient-primary mb-3 start-50">setting
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


