<div class="card shadow-lg mt-3 h-100" style="max-width: 1000px">
    <div class="card-header pb-0">
        <div class="d-flex align-items-center">
            <p class="mb-0 text-bold text-2xl">시간 설정</p>
        </div>
        <div class="d-flex align-items-center">
            <p class="mb-0 text-bold"><br>시작시간 이후부터 종료시간까지 재실이 감지되면 알림을 보냅니다.</p>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row mt-5 w-50">
                <div class="mb-3 col-md-6">
                    <input id="onHour" type="text" class="form-control" name="onHour"
                           th:placeholder="${detect.getBegin().getHour()}"
                           th:value="${detect.getBegin().getHour()}" disabled>
                    <label for="onHour">HOUR</label>
                </div>
                <div class="mb-3 col-md-6">
                    <input id="onMinute" type="text" class="form-control" name="onMinute"
                           th:placeholder="${detect.getBegin().getMinute()}"
                           th:value="${detect.getBegin().getMinute()}" disabled>
                    <label for="onMinute">MINUTE</label>
                </div>
            </div>
            <p class="w-1 mt-6 me-3">~</p>
            <div class="row mt-5 w-50">
                <div class="mb-3 col-md-6">
                    <input id="offHour" type="text" class="form-control" name="offHour"
                           th:placeholder="${detect.getEnd().getHour()}"
                           th:value="${detect.getEnd().getHour()}" disabled>
                    <label for="offHour">HOUR</label>
                </div>
                <div class="mb-3 col-md-6">
                    <input id="offMinute" type="text" class="form-control" name="offMinute"
                           th:placeholder="${detect.getEnd().getMinute()}"
                           th:value="${detect.getEnd().getMinute()}" disabled>
                    <label for="offMinute">MINUTE</label>
                </div>
            </div>
        </div>
    </div>
</div>