<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mg-b-10u">
    <p class="h8 mg-b-2u">Default</p>
    <div class="pagination-wrapper">
        <div class="pagination">
            <div class="pagination-group direction">
                <ul>
                    <li class=""><a href="#" class="pagination-item prev"><i class="Licon ico-prev"></i></a></li>
                    <li class=""><a href="#" class="pagination-item left"><i class="Licon ico-left"></i></a></li>
                </ul>
            </div>
            <div class="pagination-group">
                <ul>
                    <li class=""><a href="#" class="pagination-item"><i>1</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>2</i></a></li>
                    <li class="on"><a href="#" class="pagination-item"><i>3</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>4</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>5</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>6</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>7</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>8</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>9</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>10</i></a></li>
                    <li>
                        <div class="dp-inblock select">
                            <a href="#" class="pagination-item"><i class="Licon ico-elipsis"></i></a>
                            <div class="select-menu">
                                <ul>
                                    <li class="on"><a href="#" class="select-menu-item" data-select-value="20"><p class="label">20</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="30"><p class="label">30</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="40"><p class="label">40</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="50"><p class="label">50</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="60"><p class="label">60</p></a></li>
                                </ul>
                            </div>
                            <div class="select-dim"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pagination-group direction">
                <ul>
                    <li class=""><a href="#" class="pagination-item right"><i class="Licon ico-right"></i></a></li>
                    <li class=""><a href="#" class="pagination-item next"><i class="Licon ico-next"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mg-b-10u">
    <p class="h8 mg-b-2u">Default - Disabled</p>
    <div class="pagination-wrapper">
        <div class="pagination disabled">
            <div class="pagination-group direction">
                <ul>
                    <li><a href="#" class="pagination-item prev"><i class="Licon ico-prev"></i></a></li>
                    <li><a href="#" class="pagination-item left"><i class="Licon ico-left"></i></a></li>
                </ul>
            </div>
            <div class="pagination-group">
                <ul>
                    <li><a href="#" class="pagination-item"><i>1</i></a></li>
                    <li><a href="#" class="pagination-item"><i>2</i></a></li>
                    <li><a href="#" class="pagination-item"><i>3</i></a></li>
                    <li><a href="#" class="pagination-item"><i>4</i></a></li>
                    <li class="on"><a href="#" class="pagination-item"><i>5</i></a></li>
                    <li><a href="#" class="pagination-item"><i>6</i></a></li>
                    <li><a href="#" class="pagination-item"><i>7</i></a></li>
                    <li><a href="#" class="pagination-item"><i>8</i></a></li>
                    <li><a href="#" class="pagination-item"><i>9</i></a></li>
                    <li><a href="#" class="pagination-item"><i>10</i></a></li>
                    <li>
                        <div class="dp-inblock select">
                            <a href="#" class="pagination-item"><i class="Licon ico-elipsis"></i></a>
                            <div class="select-menu">
                                <ul>
                                    <li class="on"><a href="#" class="select-menu-item" data-select-value="20"><p class="label">20</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="30"><p class="label">30</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="40"><p class="label">40</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="50"><p class="label">50</p></a></li>
                                    <li><a href="#" class="select-menu-item" data-select-value="60"><p class="label">60</p></a></li>
                                </ul>
                            </div>
                            <div class="select-dim"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pagination-group direction">
                <ul>
                    <li><a href="#" class="pagination-item right"><i class="Licon ico-right"></i></a></li>
                    <li><a href="#" class="pagination-item next"><i class="Licon ico-next"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mg-b-10u">
    <p class="h8 mg-b-2u">Small</p>
    <div class="pagination-wrapper">
        <div class="pagination">
            <div class="pagination-group direction">
                <ul>
                    <li class="disabled"><a href="#" class="pagination-item prev"><i class="Licon ico-prev"></i></a></li>
                    <li class="disabled"><a href="#" class="pagination-item left"><i class="Licon ico-left"></i></a></li>
                </ul>
            </div>
            <div class="pagination-group">
                <ul>
                    <li class="on"><a href="#" class="pagination-item"><i>1</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>2</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>3</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>4</i></a></li>
                    <li class=""><a href="#" class="pagination-item"><i>5</i></a></li>
                </ul>
            </div>
            <div class="pagination-group direction">
                <ul>
                    <li class=""><a href="#" class="pagination-item right"><i class="Licon ico-right"></i></a></li>
                    <li class=""><a href="#" class="pagination-item next"><i class="Licon ico-next"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mg-b-10u">
    <p class="h8 mg-b-2u">Small- Disabled</p>
    <div class="pagination-wrapper">
        <div class="pagination disabled">
            <div class="pagination-group direction">
                <ul>
                    <li><a href="#" class="pagination-item prev"><i class="Licon ico-prev"></i></a></li>
                    <li><a href="#" class="pagination-item left"><i class="Licon ico-left"></i></a></li>
                </ul>
            </div>
            <div class="pagination-group">
                <ul>
                    <li><a href="#" class="pagination-item"><i>1</i></a></li>
                    <li><a href="#" class="pagination-item"><i>2</i></a></li>
                    <li class="on"><a href="#" class="pagination-item"><i>3</i></a></li>
                    <li><a href="#" class="pagination-item"><i>4</i></a></li>
                    <li><a href="#" class="pagination-item"><i>5</i></a></li>
                </ul>
            </div>
            <div class="pagination-group direction">
                <ul>
                    <li><a href="#" class="pagination-item right"><i class="Licon ico-right"></i></a></li>
                    <li><a href="#" class="pagination-item next"><i class="Licon ico-next"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>