<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS Files -->
    <link id="pagestyle" href="/css/argon-dashboard.css?v=2.0.4" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/userManage/style.css">
</head>
<body>
<div class="nav-wrapper position-relative end-0">
    <div class="nav nav-pills nav-fill p-2">

        <div class="nav-item">
            <a class="nav-link mb-0 px-1 py-1" href="/admin/temperature/week"
               th:class="${temperatureList != null ? 'text-purple-border' : ''}">
                온도
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link mb-0 px-1 py-1" href="/admin/illumination/week"
               th:class="${illuminationWeek != null ? 'text-purple-border' : ''}">
                조명
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link mb-0 px-1 py-1" href="/admin/humidity/week"
               th:class="${humidityList != null ? 'text-purple-border' : ''}">
                습도
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link mb-0 px-1 py-1" href="/admin/co2/week"
               th:class="${co2List != null ? 'text-purple-border' : ''}">
                Co2
            </a>
        </div>
    </div>
</div>
</body>
</html>
