<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main-content position-relative border-radius-lg ">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
         data-scroll="false">
        <div class="container-fluid py-1 px-3">
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                </div>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item d-flex align-items-center">
                        <a th:if="${authority == null}" href="/auth/login"
                           class="nav-link text-white font-weight-bold px-0">
                            <div>
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none">Sign In</span>
                            </div>
                        </a>
                        <!--                        유저 버튼-->
                        <div th:if="${authority != null}" class="dropdown">
                            <a href="#" class="fa fa-user me-sm-1 dropdown-toggle text-white" data-bs-toggle="dropdown"
                               id="navbarDropdown">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                                style="min-width: 7rem; margin-top:5px !important;">
                                <li>
                                    <a class="dropdown-item" href="/user/profile">마이페이지</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/logout">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-white p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line bg-white"></i>
                                <i class="sidenav-toggler-line bg-white"></i>
                                <i class="sidenav-toggler-line bg-white"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item px-3 d-flex align-items-center">
                        <a href="javascript:" class="nav-link text-white p-0">
                            <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                        </a>
                    </li>
                    <!--                    알림 버튼 dropdown이 범인-->
                    <li class="nav-item dropdown pe-2 d-flex align-items-center">
                        <a class="nav-link text-white p-0" id="dropdownMenuButton"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell cursor-pointer"></i>
                        </a>
                        <!--                        알림창-->
                        <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
                            aria-labelledby="dropdownMenuButton" id="alarmList" style="margin-top:5px !important;">



                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</main>

<script src="/js/alarm.js"></script>

</body>
</html>