<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav-wrapper position-relative end-0">
    <div class="nav nav-pills nav-fill p-2">
        <div class="nav-item" th:each="place : ${placeList}">
            <a th:text="${place.getPlaceName()}" class="nav-link mb-0 px-1 py-1 text-bold"
               th:href="@{'/device/settings/' + ${place.getPlaceId()}}"
               th:style="${#strings.contains(#httpServletRequest.getRequestURI(), place.getPlaceId()) ? 'color: #344767; background-color: #fff; box-shadow: 0px 1px 5px 1px #ddd' : ''}">
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link mb-0 px-1 py-1 text-bold"
               href="/detect/settings/"
               th:style="${#strings.contains(#httpServletRequest.getRequestURI(), 'decection') ? 'color: #344767; background-color: #fff; box-shadow: 0px 1px 5px 1px #ddd' : ''}">
                침입감지
            </a>
        </div>
    </div>
</div>
</body>
</html>