<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Co2 Log</title>
</head>

<aside th:replace="fragments/sidebar"></aside>

<body>
<div class="container mt-5">
    <h2>Co2 Log</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>날짜</th>
            <th>최고 농도 (ppm)</th>
            <th>최저 농도 (ppm)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="co2 : ${co2List}">
            <td th:text="${co2.time}">날짜</td>
            <td th:text="${co2.maxCo2}">최고 농도</td>
            <td th:text="${co2.minCo2}">최저 농도</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>