<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/img/TxT-Title-Image.jpeg">
    <title>장치 추가</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="/css/nucleo-icons.css" rel="stylesheet"/>
    <link href="/css/nucleo-svg.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/css/nucleo-svg.css" rel="stylesheet"/>
    <link id="pagestyle" href="/css/argon-dashboard.css?v=2.0.4" rel="stylesheet"/>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script th:inline="javascript">const accessToken = [[${accessToken}]];</script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/device-registration-page/device-card.js"></script>
    <style>
        .page {
            display: none;
        }

        .page.active {
            display: block;
        }
    </style>
</head>

<body class="g-sidenav-show bg-gray-100">
<aside th:replace="fragments/sidebar"></aside>
<div class="main-content position-relative max-height-vh-100 h-100">
    <div th:replace="fragments/nav"></div>

    <div class="card text-center" id="main-body" style="padding-left: 10px; width: 50%; margin: 0 auto;">
        <h2 class="jua-regular" style="margin-bottom: 5px; margin-top: 25px;">장치 관리</h2>
        <form id="deviceAddForm" action="/admin/device/send-data" method="post" class="px-4 py-3"
              enctype="application/x-www-form-urlencoded">
            <label>
                <input name="_csrf" hidden="" th:id="${_csrf.token}" th:value="${_csrf.getToken()}">
            </label>
            <div class="page card active" style="max-width: 50%; margin: 0 auto;">
                <div class="card-header">
                    <div class="form-label jua-regular" style="font-size: 1.5rem !important;">공통 설정</div>
                </div>
                <div class="row" style="max-width: 50%; margin: 0 auto;">
                    <div class="form-group">
                        <label for="place">장소</label>
                        <select id="place" name="place" class="form-control">
                            <option value="Class A">Class A</option>
                            <option value="Class B">Class B</option>
                            <option value="Lobby">Lobby</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deviceName">추가할 장치</label>
                        <select id="deviceName" name="deviceName" class="form-control">
                            <option value="에어컨">에어컨</option>
                            <option value="조명">조명</option>
                            <option value="공기 청정기">공기 청정기</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="occupancyCheckRequired">재실 필요 유무</label>
                        <select id="occupancyCheckRequired" name="occupancyCheckRequired" class="form-control">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>

            <div class="page ai-mode">
                <h4 class="jua-regular">AI 모드 설정</h4>
                <div id="aiModesContainer"></div>
                <button type="button" class="btn bg-gradient-primary" onclick="createAiModeGroup()">AI Mode 추가</button>
                <div class="form-group card mb-3" style="max-width: 50%; margin: 0 auto;">
                    <div class="card-header">
                        <div class="form-label jua-regular" style="font-size: 1rem !important;">메시지 보내는 간격</div>
                    </div>
                    <div class="row justify-content-center align-content-center">
                        <div class="col-4">
                            <label for="aiMode_hours">Hours</label>
                            <input type="number" class="form-control" id="aiMode_hours" name="aiMode_hours" min="0" max="23" value="1">
                        </div>
                        <div class="col-4">
                            <label for="aiMode_minutes">Minutes</label>
                            <input type="number" class="form-control" id="aiMode_minutes" name="aiMode_minutes" min="0" max="59" value="0">
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>

            <div class="page custom-mode">
                <h4 class="jua-regular">커스텀 모드 설정</h4>
                <div id="conditionsContainer"></div>
                <button type="button" class="btn bg-gradient-primary" onclick="createConditionGroup()">Condition 추가</button>
                <div class="form-group card mb-3" style="max-width: 50%; margin: 0 auto;">
                    <div class="card-header">
                        <div class="form-label jua-regular" style="font-size: 1rem !important;">메시지 보내는 간격</div>
                    </div>
                    <div class="row justify-content-center align-content-center">
                        <div class="col-4">
                            <label for="customMode_hours">Hours</label>
                            <input type="number" class="form-control" id="customMode_hours" name="customMode_hours" min="0" max="23" value="1">
                        </div>
                        <div class="col-4">
                            <label for="customMode_minutes">Minutes</label>
                            <input type="number" class="form-control" id="customMode_minutes" name="customMode_minutes" min="0" max="59" value="30">
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
                <button id="submitButton" class="btn bg-gradient-primary" type="button" onclick="submitForm()">제출</button>
            </div>

            <div class="d-flex justify-content-between">
                <button id="prevButton" class="btn bg-gradient-primary" type="button" onclick="prevPage()">이전</button>
                <button id="nextButton" class="btn bg-gradient-primary" type="button" onclick="nextPage()">다음</button>
            </div>
        </form>
    </div>
</div>
<!--   Core JS Files   -->
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/js/plugins/smooth-scrollbar.min.js"></script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

</body>
</html>
