<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 조회</title>
</head>
<body>
    <div class="list">
        <h2>회원 조회</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>상태</th>
                    <th>최근 로그인</th>
                    <th>가입일</th>
                    <th>권한</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${status.id}"></td>
                    <td th:text="${user.lastestLogin}"></td>
                    <td th:text="${user.createdAt}"></td>
                    <td th:text="${role}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
